.button {
    background-color: #fB8c00;
    border: 1px solid transparent;
    color: #fafafa;
    font-size: 24px;
    padding: 4px 16px;
}
.button:focus {
    outline: none;
}
.button:active {
    border: 1px solid #fafafa;
}